// @flow

import React, { Component } from 'react'
import {
  View,
  StyleSheet
} from 'react-native';

class {{properCase name }} extends Component{
    constructor(props){
        super(props)

        this.state = {}
    }

    render() {
        return (
            <View />
        )
    }
}

export default {{properCase name }}
