import React, {Component} from 'react';
import {
    StyleSheet,
    View,
    Text,
    ScrollView,
    TouchableOpacity,
} from 'react-native';


class {{properCase name }} extends Component {
    constructor(props) {
        super(props);

        this.state = {}
    }

    componentDidMount = () => {}

    render() {
        return (
            <View style={styles.page}>

            </View>
        );
    }

    static navigationOptions = ({navigation}) => {
        return {
            headerTitle: 'Доставка',
        };
    };
}

const styles = StyleSheet.create({
    page: {
        flex: 1,
        paddingVertical: 16,
        backgroundColor: '#F3F5F7'
    },
})

export default {{properCase name }}
